body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-menu {
  height: 50px;
  background-color: #eee;
}

#map {
  height: 300px;
}

#date-selector {
  height: 50px;
  padding: 10px;
  background-color: #eee;
}

#content {
  padding: 10px;
}
